pandas
pyarrow
pandera
great-expectations==0.18.19
ydata-profiling
scikit-learn
lightgbm
xgboost
optuna
mlflow
shap
fastapi
uvicorn[standard]
pydantic
httpx
prometheus-fastapi-instrumentator
prometheus-client
evidently
prefect
joblib
matplotlib
seaborn
kaggle
dvc
