pandas
pyarrow
pandera
great-expectations
ydata-profiling
scikit-learn
lightgbm
xgboost
optuna
mlflow
shap
fastapi
uvicorn[standard]
pydantic
httpx
prometheus-fastapi-instrumentator
prometheus-client
evidently
prefect
joblib
matplotlib
seaborn
kaggle
dvc
